/* Reset default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

/* body styling */
body {
  font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5em;
}

.clr {
  clear: both;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}
.container {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
}

#navbar {
  background-color: #333;
  color: #fff;
  overflow: auto;
}

#navbar .container h1 {
  float: left;
  padding-top: 20px;
}

#navbar ul {
  list-style: none;
  float: right;
}

#navbar ul li {
  float: left;
}

#navbar a {
  color: #fff;
}

#navbar ul a {
  display: block;
  padding: 20px;
  text-align: center;
  text-decoration: none;
}

#navbar ul a:hover,
.current {
  color: #f7c08a;
  background: #444;
}

#showcase {
  background: url(showcase.jpg) no-repeat center center/cover;
  width: 100%;
  height: 600px;
}

#showcase .showcase-content {
  padding-top: 170px;
  color: #fff;
  text-align: center;
}

#showcase h1 {
  font-size: 60px;
  line-height: 1.2em;
}

#showcase span {
  color: #f7c08a;
}

#showcase p {
  padding-top: 20px;
  font-size: 20px;
  line-height: 1.7em;
}

#showcase button {
  display: inline-block;
  width: 160px;
  height: 40px;
  color: #fff;
  background: #333;
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}

#showcase button:hover {
  background: #f7c08a;
  color: #333;
}

#homeinfo {
  height: 450px;
}

#homeinfo .sideimg {
  background: url(photo-1.jpg) no-repeat;
  float: left;
  width: 50%;
  min-height: 100%;
}

#homeinfo .sidecontent {
  background: #333;
  float: right;
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 50px 30px;
  overflow: hidden;
  color: #fff;
  line-height: 1.7em;
}

#homeinfo .sidecontent span,
#aboutpage-info .about-left span,
#contact h1 span {
  color: #f7c08a;
}

#homeinfo .sidecontent button {
  display: inline-block;
  width: 170px;
  height: 50px;
  color: #333;
  background: #fff;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  margin-top: 20px;
}

#homeinfo .sidecontent button:hover {
  background: #f7c08a;
  color: #333;
}

#features .box {
  float: left;
  width: 33.3%;
  text-align: center;
  padding: 50px;
}

#features .box i {
  margin-bottom: 10px;
}

#features .light {
  background: #fff;
  color: #333;
}

#features .primary {
  background: #f7c08a;
  color: #333;
}

#aboutpage-info {
  background: #f5f5f5;
}

#aboutpage-info .about-right {
  float: right;
  width: 50%;
  min-height: 100%;
  padding: 30px 0px;
}

#aboutpage-info .about-right img {
  display: block;
  width: 70%;
  margin: auto;
  border-radius: 50%;
}

#aboutpage-info .about-left {
  padding: 30px 0px;
  float: left;
  width: 50%;
  min-height: 100%;
  line-height: 1.7em;
}

#aboutpage-info .about-left h1 {
  font-size: 40px;
  line-height: 1.2em;
}

#aboutpage-bottom {
  background: url(test-bg.jpg) no-repeat center center/cover;
  height: 600px;
  padding-top: 40px;
}

#aboutpage-bottom h2 {
  font-size: 40px;
  text-align: center;
  color: #fff;
  padding-top: 70px;
  padding-bottom: 40px;
  line-height: 1.2em;
}

#aboutpage-bottom .guest {
  background: #f7c08a;
  margin-bottom: 40px;
  padding: 25px;
  opacity: 0.9;
  border-radius: 5px;
  height: 100%;
}

#aboutpage-bottom {
  height: 100%;
}

#aboutpage-bottom .guest img {
  width: 100px;
  float: left;
  border-radius: 50%;
  margin-right: 20px;
}

#contact h1 {
  font-size: 40px;
  margin-top: 30px;
}

#contact label {
  display: block;
  padding-top: 10px;
  margin-bottom: 5px;
}

#contact input,
#contact textarea {
  display: block;
  border: 1px solid #ddd;
  width: 100%;
  padding: 10px;
}

#contact textarea {
  height: 200px;
}

#contact input:focus,
#contact textarea:focus {
  outline: none;
  border-color: #f7c08a;
}

#contact button {
  display: inline-block;
  width: 100px;
  height: 50px;
  color: #fff;
  background: #333;
  font-size: 18px;
  text-align: center;
  padding: 13px 20px;
  margin: 20px 0px;
  cursor: pointer;
}

#contact-info .box {
  float: left;
  width: 33.3%;
  padding: 50px;
  text-align: center;
  background: #333;
  color: #fff;
}

#contact-info .box i {
  margin-bottom: 10px;
}

#contact-info .box p {
  margin: 10px 0;
}

#contact-info .box h3 {
  padding-bottom: 20px;
}

footer {
  text-align: center;
  background: #444;
  color: #fff;
  padding: 20px;
}
